<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ez.en.page.couponMapper">
	
	<!-- 쿠폰 전체조회 -->
	<select id="listAll" resultType="CouponDTO">
		SELECT * FROM page200.coupon
	</select>

	<!-- 쿠폰 선택조회 -->
	<select id="selectOne" resultType="CouponDTO" parameterType="String">
		select * from page200.coupon where cp_code= #{cp_code}
	</select>
	
	<!-- 쿠폰 수정 -->
	<update id="update" parameterType="CouponDTO">
		update page200.coupon set
		cp_name = #{cp_name}, cp_content = #{cp_content}, cp_amount = #{cp_amount}, cp_sale = #{cp_sale}, cp_start_date = #{cp_start_date}, cp_end_date = #{cp_end_date} 
		where cp_code = #{cp_code}
	</update>
	
	<!-- 쿠폰 추가 -->
	<insert id="insert" parameterType="CouponDTO">
		insert into coupon(cp_code, cp_name, cp_content, cp_amount, cp_sale, cp_start_date, cp_end_date)
		values(#{cp_code}, #{cp_name}, #{cp_content}, #{cp_amount}, #{cp_sale}, #{cp_start_date}, #{cp_end_date})
	</insert>
	
	<!-- 쿠폰 삭제 -->
	<delete id="delete" parameterType="String">
		delete from coupon where cp_code = #{cp_code}
	</delete>
	
	<!-- 쿠폰발급 -->
	<insert id="couponissue" parameterType="My_couponDTO">
		insert into my_coupon(cp_code,id) VALUES(#{cp_code},#{id})
	</insert>
	
	<!-- 쿠폰수량 감소 -->
	<update id="" parameterType="String">
		update coupon set cp_amount = cp_amount - 1
		where cp_code = #{cp_code}
	</update>
	
	<!-- 현재 쿠폰 수량 확인 -->
	<select id="now" parameterType="String">
		select cp_code, cp_amount from page200.coupon where cp_code = #{cp_code}
	</select>
	
	<!-- 차월 생일 회원조회 -->
	
	<!-- 중복 발급 확인 -->
</mapper>