<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ez.en.page.review_recommendMapper">

	<!-- 리뷰 좋아요 작성 SQL -->

	<!-- 리뷰추천 전체조회 -->
	<select id="listAll" resultType="Review_recommendDTO">
		select rr_num, id, r_code, is_recommend 
		from review_recommend order by rr_num ASC
	</select>
	
	<!-- 리뷰추천 생성? -->
	<insert id="LikeInsert" parameterType="Review_RecommendDTO">
		INSERT into review_recommend (id, r_code)
		VALUES (id=#{id}, r_code=#{r_code})
	</insert>
	
	<!-- 리뷰 추천하기 -->
	<update id="likeCheck" parameterType="Review_recommendDTO">
		UPDATE review_recommend
		SET is_recommend = is_recommend + 1
		WHERE id=#{id} AND r_code=#{r_code}
	</update>


	<!-- 리뷰 추천취소하기 -->
	<update id="likeCheckCancel" parameterType="Review_recommendDTO">
		UPDATE review_recommend
		SET is_recommend = 0
		WHERE id=#{id} AND r_code=#{r_code}
	</update>
	
	<!-- 리뷰 추천갯수 count 보여주는  -->





</mapper>